<div>
	<h3 class="greenpay-method-title">
		{{ text_card }}
	</h3>
	<form action="{{ link_checkout }}" class="form-horizontal" method="POST">
		<div>
			<div class="form-group required">
				<label for="input-shipping-firstname" class="col-sm-2 control-label">Routing Number</label>
				<div class="col-sm-10">
					<input type="text" class="form-control routing_number req" name="greenpay_routing_number"
						value="" />
					<div class="text-danger req_routing" style='display:none'>{{ error_field_empty }}</div>
				</div>
			</div>
			<div class="form-group required">
				<label for="input-shipping-firstname" class="col-sm-2 control-label">Account Number</label>
				<div class="col-sm-10">
					<input type="text" class="form-control account_number req" name="greenpay_account_number"
						value="" />
					<div class="text-danger req_acc" style='display:none'>{{ error_field_empty }}</div>
				</div>
			</div>
		</div>
		<div class="buttons">
			<div class="pull-right">
				<button type="submit" data-toggle="tooltip" class="btn btn-primary button_continue"
					data-loading-text="{{ text_loading }}">
					{{ button_continue }}
				</button>
			</div>
		</div>
	</form>
</div>
<script>
	$(function () {
		// Validation
		$(".button_continue").click(function () {
			var sts = true;
			$('.req').each(function () {
				if ($(this).val() == '') {
					$(this).css('border-color', 'red');
					sts = false;
				}
			});
			return sts;
		});
	});
</script>