{{ header }}
{{ column_left }}
<div id="content">
    <div class="page-header">
        <div class="container-fluid">
            <div class="pull-right">
                <button type="submit" data-toggle="tooltip" title="{{ button_save }}" class="btn btn-primary"><i class="fa fa-save"></i></button>
                <a href="{{ cancel_link }}" data-toggle="tooltip" title="{{ button_cancel }}" class="btn btn-default"><i class="fa fa-reply"></i></a>
            </div>
            <h1>{{ heading_title }}</h1>
        </div>
    </div>

    <div class="container-fluid">
        <!-- Alerts  -->
        {% if no_permission %}
        <div class="alert alert-danger"><i class="fa fa-exclamation-circle"></i> {{ error_permission }}</div>
        {% endif %}

        {% if no_method %}
        <div class="alert alert-warning alert-dismissible"><i class="fa fa-exclamation-triangle"></i> {{ error_no_method }}
            <button type="button" class="close" data-dismiss="alert">&times;</button>
        </div>
        {% endif %}

        {% if greenpay_payment_mode == 0 %}
        <div class="alert alert-warning"><i class="fa fa-exclamation-triangle"></i> {{ error_test_mode }}</div>
        {% endif %}

        {% if success %}
        <div class="alert alert-success alert-dismissible"><i class="fa fa-check-circle"></i> {{ error_success }}
            <button type="button" class="close" data-dismiss="alert">&times;</button>
        </div>
        {% endif %}

        {% if failedSave %}
        <div class="alert alert-danger">
            <i class="fa fa-ban"></i> {{ error_failed_save }}
        </div>
        {% endif %}

        {% if green_api_error %}
        <div class="alert alert-danger">
            <i class="fa fa-ban"></i> {{ error_api }}
        </div>
        {% endif %}

        {% if oc_api_error %}
        <div class="alert alert-danger">
            <i class="fa fa-ban"></i> {{ error_api_oc }}
        </div>
        {% endif %}

        {% if error_form_req %}
        <div class="alert alert-danger"><i class="fa fa-exclamation-circle"></i> {{ error_form_required }}</div>
        {% endif %}
        <!-- End alerts -->

        <div class="panel panel-default">
            <div class="panel-body">
                <form id="form-greenpay" class="form-horizontal" method="post" enctype="multipart/form-data">
                    <div>
                        {{ config }}
                    </div>
                </form>
                <div class="text-right">
                    <small>v{{ constant('GREENPAY_VERSION') }}</small>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- </div> -->
{{ footer }}
